<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>uploadimage</display-name>
    <servlet-name>uploadimage</servlet-name>
    <servlet-class>uploadimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadimage</servlet-name>
    <url-pattern>/uploadimage</url-pattern>
  </servlet-mapping>
  <display-name>Shree_Krishna_Cafe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddItemServlet</display-name>
    <servlet-name>AddItemServlet</servlet-name>
    <servlet-class>AddItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemServlet</servlet-name>
    <url-pattern>/AddItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu_update</display-name>
    <servlet-name>menu_update</servlet-name>
    <servlet-class>menu_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu_update</servlet-name>
    <url-pattern>/menu_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocart</display-name>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
</web-app>